@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Space+Grotesk:wght@300;400;500;700&display=swap');
@import "rsuite/dist/rsuite.css";

* {padding: 0; margin: 0;}
body {font-family: 'DM Sans', sans-serif; font-size: 14px; color: #414141;}
h1, h2, h3, h4, h5, h6{font-family: 'Space Grotesk', sans-serif;}
a {-webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; text-decoration: none;}

/* helper styles */
.pos-rel {position: relative;}

/* menu styles */
.navbar-brand img{height: 50px;}
.nav-right a{color: #fff; opacity: 0.7;}
.nav-right a:hover{opacity: 1;}
.nav-right a + a{margin-left: 15px;}

/* home page styles */
.home-wrap, .sub-header, .login-wrap{
  width: 100%;
  height: 100vh;
  background-image: url(https://www.spacex.com/static/images/backgrounds-2021/hls-resized-2.webp);
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* home styles */
.home-inner, .login-inner{position: absolute; top: 50%; left: 10%; transform: translate(0%, -50%);}
.home-inner .h1{color: #fff;}
.home-inner p, .sub-header-title p{color: #fff; opacity: 0.7;font-weight: 300;margin-bottom: 0;font-family: 'Space Grotesk'}
.cust-nav .bg-dark {--bs-bg-opacity: 0;}

/* launches styles */
.sub-header{height: 350px; background-position: initial;}
.sub-header-title{position: absolute; top: 50%; transform: translate(0, -50%); color: #fff; padding-left: 12px;}
.sub-header-title .h2{letter-spacing: 32px; font-size: 23px;}
.sub-header-title p{font-size: 12px; letter-spacing: 2px; opacity: 0.9;}
.dash-content{padding: 40px 0;}
.article {
  align-items: stretch;
  flex-grow: 1;
  min-height: 380px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.article:hover {transform: translateY(-5px);}
.article-inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 380px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
  background-color: #0a0a12;
}
.article-badge, .article-tag{
  height: 23px;
  margin: 0 5px 5px 0;
  text-transform: uppercase;
  font-family: poppins,Arial,sans-serif;
  font-size: 10px;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 30px;
}
.article-tag{margin-right: 0;display: inline-block; color: rgba(255,255,255,.9); background-color: #323a96;padding: 0 15px;}
.article-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  background-color: #0a0a12;
}
.article-image::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16,17,30,.6);
  pointer-events: none;
}
.article-image img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.article-content {
  z-index: 1;
  width: 100%;
  margin-top: auto;
  padding: 0 30px 30px;
}
.article-title{
  color: #fff;
}
.article-desc {
  margin-bottom: 15px;
  font-size: 15px;
  color: rgba(255,255,255,.6);
}
.article-date {
  font-size: 14px;
  color: #fff;
}

.lmodal{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.75);
}
.lmodal-content{
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
    min-height: 200px;
  background-color: #fff;
  padding: 50px;
  color: #000;
}
.lmodal-content img{height: 350px;}
.launch-title{
  padding: 25px 0 0px;
  margin-bottom: 5px;
}
.modal-close{
  position: absolute;
    top: 0px;
    right: 0px;
    background-color: #990614;
    padding: 5px 15px;
    color: #fff;
    font-weight: 700;
    font-family: 'Space Grotesk';
    font-size: 12px;
    cursor: pointer;
}

.overlay{
  position: absolute; top: 0;
  left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.72);
}
/* login styles */
.login-inner{
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.1);
  width: 450px;
  min-height: 200px;
  padding: 30px;
  text-align: center;
  color: #fff;
}
.note{font-size: 12px; color: red;}
.user-wrap{color: #fff; align-items: center;}
.user-wrap img{
  width: 30px;
  border-radius: 4px;
  margin-right: 7px;
}
.logout-btn{
  margin-left: 20px;
}
.date-filters .rs-picker-toggle-wrapper {display: block;}
.date-filters .rs-picker-default .rs-picker-toggle{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Space Grotesk', sans-serif;
*/

/* responsive styles */
@media screen and (min-width: 1200px) {
  .home-inner .h1{font-size: 65px;}
  .home-inner p{font-size: 20px;}
}

@media screen and (min-width: 600px) and (max-width: 900px) {}

/* If screen size is more than 600px wide, set the font-size of <div> to 80px */
@media screen and (min-width: 600px) {}

/* If screen size is 600px wide, or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {}








